DataFrame

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns 
from matplotlib import pyplot as plt

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
df_results=pd.read_csv("/content/drive/MyDrive/2022/BigData/results.csv")

## Results와 Ranking Join

In [4]:
df_results = df_results.loc[df_results['date']>='2014-01-01'].loc[df_results['date']<'2022-12-31']

In [5]:
df_results.dropna(axis=0)
df_results

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
36109,2014-01-01,Kuwait,Jordan,1.0,2.0,WAFF Championship,Doha,Qatar,True
36110,2014-01-04,Bahrain,Jordan,0.0,1.0,WAFF Championship,Doha,Qatar,True
36111,2014-01-04,Namibia,Ghana,0.0,1.0,Friendly,Windhoek,Namibia,False
36112,2014-01-04,Nigeria,Ethiopia,2.0,1.0,Friendly,Abuja,Nigeria,False
36113,2014-01-04,Qatar,Kuwait,3.0,0.0,WAFF Championship,Doha,Qatar,False
...,...,...,...,...,...,...,...,...,...
44201,2022-12-01,Canada,Morocco,1.0,2.0,FIFA World Cup,Doha,Qatar,True
44202,2022-12-02,Serbia,Switzerland,NaN,NaN,FIFA World Cup,Doha,Qatar,True
44203,2022-12-02,Cameroon,Brazil,NaN,NaN,FIFA World Cup,Lusail,Qatar,True
44204,2022-12-02,Ghana,Uruguay,NaN,NaN,FIFA World Cup,Al Wakrah,Qatar,True
44205,2022-12-02,South Korea,Portugal,NaN,NaN,FIFA World Cup,Al Rayyan,Qatar,True

In [6]:
# result table, ranking table 을 year 기준으로 join 하기 
df_results['date'] = pd.to_datetime(df_results['date'])
df_results['year'] = df_results['date'].dt.year
df_results.reset_index(drop=True)

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,year
0,2014-01-01,Kuwait,Jordan,1.0,2.0,WAFF Championship,Doha,Qatar,True,2014
1,2014-01-04,Bahrain,Jordan,0.0,1.0,WAFF Championship,Doha,Qatar,True,2014
2,2014-01-04,Namibia,Ghana,0.0,1.0,Friendly,Windhoek,Namibia,False,2014
3,2014-01-04,Nigeria,Ethiopia,2.0,1.0,Friendly,Abuja,Nigeria,False,2014
4,2014-01-04,Qatar,Kuwait,3.0,0.0,WAFF Championship,Doha,Qatar,False,2014
...,...,...,...,...,...,...,...,...,...,...
8092,2022-12-01,Canada,Morocco,1.0,2.0,FIFA World Cup,Doha,Qatar,True,2022
8093,2022-12-02,Serbia,Switzerland,NaN,NaN,FIFA World Cup,Doha,Qatar,True,2022
8094,2022-12-02,Cameroon,Brazil,NaN,NaN,FIFA World Cup,Lusail,Qatar,True,2022
8095,2022-12-02,Ghana,Uruguay,NaN,NaN,FIFA World Cup,Al Wakrah,Qatar,True,2022
8096,2022-12-02,South Korea,Portugal,NaN,NaN,FIFA World Cup,Al Rayyan,Qatar,True,2022

In [7]:
df_results = df_results.drop(df_results[(df_results['year'] == 2022) & (df_results['tournament'] == 'FIFA World Cup')].index)
# 2022 fifa world cup 경기 결과제거 
df_results

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,year
36109,2014-01-01,Kuwait,Jordan,1.0,2.0,WAFF Championship,Doha,Qatar,True,2014
36110,2014-01-04,Bahrain,Jordan,0.0,1.0,WAFF Championship,Doha,Qatar,True,2014
36111,2014-01-04,Namibia,Ghana,0.0,1.0,Friendly,Windhoek,Namibia,False,2014
36112,2014-01-04,Nigeria,Ethiopia,2.0,1.0,Friendly,Abuja,Nigeria,False,2014
36113,2014-01-04,Qatar,Kuwait,3.0,0.0,WAFF Championship,Doha,Qatar,False,2014
...,...,...,...,...,...,...,...,...,...,...
44153,2022-11-20,Slovenia,Montenegro,1.0,0.0,Friendly,Ljubljana,Slovenia,False,2022
44154,2022-11-20,South Africa,Angola,1.0,1.0,Friendly,Mbombela,South Africa,False,2022
44155,2022-11-20,Saint Lucia,San Marino,1.0,0.0,Friendly,Gros Islet,Saint Lucia,False,2022
44156,2022-11-20,Syria,Venezuela,1.0,2.0,Friendly,Dubai,United Arab Emirates,True,2022
44157,2022-11-20,Uzbekistan,Russia,0.0,0.0,Friendly,Tashkent,Uzbekistan,False,2022

In [8]:
df_rankings = pd.read_csv('/content/drive/MyDrive/2022/BigData/fifa_ranking-2022-10-06.csv')
df_rankings.head()

,rank,country_full,country_abrv,total_points,previous_points,rank_change,confederation,rank_date
0,1,Germany,GER,57.0,0.0,0,UEFA,1992-12-31
1,96,Syria,SYR,11.0,0.0,0,AFC,1992-12-31
2,97,Burkina Faso,BFA,11.0,0.0,0,CAF,1992-12-31
3,99,Latvia,LVA,10.0,0.0,0,UEFA,1992-12-31
4,100,Burundi,BDI,10.0,0.0,0,CAF,1992-12-31

In [9]:
df_rankings = df_rankings.replace({"IR Iran":"Iran"})
df_rankings = df_rankings.replace({"USA" : "United States"})
df_rankings = df_rankings.replace({"Korea Republic" : "South Korea"})
df_rankings = df_rankings.replace({"Korea DPR" : "South Korea"})

# ranking data를 13년도부터 사용하도록 수정
df_rankings = df_rankings.loc[df_rankings['rank_date']>='2013-01-01'].loc[df_rankings['rank_date'] <='2022-12-31'] # Modified_for_latest_ranking

In [10]:
df_rankings = pd.DataFrame(df_rankings, columns = ['country_full', 'total_points', 'rank_date']).reset_index(drop=True)
df_rankings.shape[0]

20936

In [11]:
df_rankings['rank_date'] = pd.to_datetime(df_rankings['rank_date'])
# df_rankings['year'] = df_rankings['rank_date'].dt.year   # Modified_for_latest_ranking : rank 파일에서 year 추출부 삭제
df_rankings.head()

    country_full  total_points  rank_date
0         Belize         110.0 2013-01-17
1      Hong Kong         111.0 2013-01-17
2         Kuwait         276.0 2013-01-17
3  Faroe Islands         151.0 2013-01-17
4      Palestine         154.0 2013-01-17

In [12]:
# Modified_for_latest_ranking : 

# df_rankings.sort_values(by=['rank_date','year'],inplace=True, ascending=False)
# latest_rankdate_index = df_rankings[['country_full', 'year']].drop_duplicates().index
# df_rankings = df_rankings.loc[lambda x : x.index.isin(latest_rankdate_index)]

df_rankings.sort_values(by=['rank_date'],inplace=True, ascending=False)

In [13]:
dataset = df_results
dataset['home_team_total_points'] = np.nan
dataset['away_team_total_points'] = np.nan

In [16]:
for index in dataset.index:
  team1 = dataset.loc[index, ['home_team']]
  team2 = dataset.loc[index, ['away_team']]
  date = dataset.loc[index, ['date']] # Modified_for_latest_ranking
  date = str(date[0])[:10]  # Modified_for_latest_ranking
  team1 = team1[0]
  team2 = team2[0]
  try:
    # Modified_for_latest_ranking
    # data1 = df_rankings['total_points'].loc[(df_rankings['country_full'] == team1) & (df_rankings['year'] == year)]
    data1 = df_rankings['total_points'].loc[(df_rankings['country_full'] == team1) & (df_rankings['rank_date'] <= date)].to_frame().iloc[0]
    # data2 = df_rankings['total_points'].loc[(df_rankings['country_full'] == team2) & (df_rankings['year'] == year)]
    data2 = df_rankings['total_points'].loc[(df_rankings['country_full'] == team2) & (df_rankings['rank_date'] <= date)].to_frame().iloc[0]

    dataset.loc[index, ['home_team_total_points']] = float(data1)
    dataset.loc[index, ['away_team_total_points']] = float(data2)
  except:
        continue

In [17]:
dataset.shape[0]

8049

In [18]:
dataset

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,year,home_team_total_points,away_team_total_points
36109,2014-01-01,Kuwait,Jordan,1.0,2.0,WAFF Championship,Doha,Qatar,True,2014,315.00,536.00
36110,2014-01-04,Bahrain,Jordan,0.0,1.0,WAFF Championship,Doha,Qatar,True,2014,292.00,536.00
36111,2014-01-04,Namibia,Ghana,0.0,1.0,Friendly,Windhoek,Namibia,False,2014,237.00,849.00
36112,2014-01-04,Nigeria,Ethiopia,2.0,1.0,Friendly,Abuja,Nigeria,False,2014,710.00,374.00
36113,2014-01-04,Qatar,Kuwait,3.0,0.0,WAFF Championship,Doha,Qatar,False,2014,325.00,315.00
...,...,...,...,...,...,...,...,...,...,...,...,...
44153,2022-11-20,Slovenia,Montenegro,1.0,0.0,Friendly,Ljubljana,Slovenia,False,2022,1384.04,1341.03
44154,2022-11-20,South Africa,Angola,1.0,1.0,Friendly,Mbombela,South Africa,False,2022,1349.59,1155.90
44155,2022-11-20,Saint Lucia,San Marino,1.0,0.0,Friendly,Gros Islet,Saint Lucia,False,2022,NaN,NaN
44156,2022-11-20,Syria,Venezuela,1.0,2.0,Friendly,Dubai,United Arab Emirates,True,2022,1255.92,1404.37
44157,2022-11-20,Uzbekistan,Russia,0.0,0.0,Friendly,Tashkent,Uzbekistan,False,2022,1309.98,1496.11

In [19]:
dataset.isnull().sum()

date                         0
home_team                    0
away_team                    0
home_score                   0
away_score                   0
tournament                   0
city                         0
country                      0
neutral                      0
year                         0
home_team_total_points    1185
away_team_total_points    1185
dtype: int64

In [20]:
dataset = dataset.dropna(axis = 0)

In [21]:
dataset.isnull().sum()

date                      0
home_team                 0
away_team                 0
home_score                0
away_score                0
tournament                0
city                      0
country                   0
neutral                   0
year                      0
home_team_total_points    0
away_team_total_points    0
dtype: int64

In [22]:
dataset.shape[0]

6864

## player 14 ~ 23년도

In [59]:
# home team 
# 수비수 4명
for i in range(1, 5):
  col = 'home_B'+str(i)+'_point'
  dataset[col] = np.nan

# 미드필더 4명 
for i in range(1, 5):
  col = 'home_M'+str(i)+'_point'
  dataset[col] = np.nan

# 공격수 2명 
for i in range(1, 3):
  col = 'home_T'+str(i)+'_point'
  dataset[col] = np.nan

# 골키퍼 1명 
col = 'home_K1_point'
dataset[col] = np.nan

In [60]:
# away team 
# 수비수 4명
for i in range(1, 5):
  col = 'away_B'+str(i)+'_point'
  dataset[col] = np.nan

# 미드필더 4명 
for i in range(1, 5):
  col = 'away_M'+str(i)+'_point'
  dataset[col] = np.nan

# 공격수 2명 
for i in range(1, 3):
  col = 'away_T'+str(i)+'_point'
  dataset[col] = np.nan

# 골키퍼 1명 
col = 'away_K1_point'
dataset[col] = np.nan

In [61]:
# value 
# home team 
# 수비수 4명
for i in range(1, 5):
  col = 'home_B'+str(i)+'_value'
  dataset[col] = np.nan

# 미드필더 4명 
for i in range(1, 5):
  col = 'home_M'+str(i)+'_value'
  dataset[col] = np.nan

# 공격수 2명 
for i in range(1, 3):
  col = 'home_T'+str(i)+'_value'
  dataset[col] = np.nan

# 골키퍼 1명 
col = 'home_K1_value'
dataset[col] = np.nan

In [62]:
# away team 
# 수비수 4명
for i in range(1, 5):
  col = 'away_B'+str(i)+'_value'
  dataset[col] = np.nan

# 미드필더 4명 
for i in range(1, 5):
  col = 'away_M'+str(i)+'_value'
  dataset[col] = np.nan

# 공격수 2명 
for i in range(1, 3):
  col = 'away_T'+str(i)+'_value'
  dataset[col] = np.nan

# 골키퍼 1명 
col = 'away_K1_value'
dataset[col] = np.nan

In [63]:
dataset.head()

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score, tournament, city, country, neutral, year, home_team_total_points, away_team_total_points, home_B1_point, home_B2_point, home_B3_point, home_B4_point, home_M1_point, home_M2_point, home_M3_point, home_M4_point, home_T1_point, home_T2_point, home_K1_point, away_B1_point, away_B2_point, away_B3_point, away_B4_point, away_M1_point, away_M2_point, away_M3_point, away_M4_point, away_T1_point, away_T2_point, away_K1_point, home_B1_value, home_B2_value, home_B3_value, home_B4_value, home_M1_value, home_M2_value, home_M3_value, home_M4_value, home_T1_value, home_T2_value, home_K1_value, away_B1_value, away_B2_value, away_B3_value, away_B4_value, away_M1_value, away_M2_value, away_M3_value, away_M4_value, away_T1_value, away_T2_value, away_K1_value]
Index: []

[0 rows x 56 columns]

최종 dataset 합치는 작업

In [ ]:
# FIFA 15-23 player 최종본 
df_player14 = pd.read_excel("/content/drive/MyDrive/2022/BigData/FIFA 15-23.xlsx", sheet_name=0)
df_player15 = pd.read_excel("/content/drive/MyDrive/2022/BigData/FIFA 15-23.xlsx", sheet_name=1)
df_player16 = pd.read_excel("/content/drive/MyDrive/2022/BigData/FIFA 15-23.xlsx", sheet_name=2)
df_player17 = pd.read_excel("/content/drive/MyDrive/2022/BigData/FIFA 15-23.xlsx", sheet_name=3)
df_player18 = pd.read_excel("/content/drive/MyDrive/2022/BigData/FIFA 15-23.xlsx", sheet_name=4)
df_player19 = pd.read_excel("/content/drive/MyDrive/2022/BigData/FIFA 15-23.xlsx", sheet_name=5)
df_player20 = pd.read_excel("/content/drive/MyDrive/2022/BigData/FIFA 15-23.xlsx", sheet_name=6)
df_player21 = pd.read_excel("/content/drive/MyDrive/2022/BigData/FIFA 15-23.xlsx", sheet_name=7)
df_player22 = pd.read_excel("/content/drive/MyDrive/2022/BigData/FIFA 15-23.xlsx", sheet_name=8)

In [ ]:
df_player14['year'] = 2014
df_player15['year'] = 2015
df_player16['year'] = 2016
df_player17['year'] = 2017
df_player18['year'] = 2018
df_player19['year'] = 2019
df_player20['year'] = 2020
df_player21['year'] = 2021
df_player22['year'] = 2022

In [ ]:
df_player = pd.concat([df_player14, df_player15, df_player16, df_player17, df_player18, df_player19, df_player20, df_player21, df_player22], ignore_index=True)

In [ ]:
# nationality_name, Model_Position, year 로 group by 한 후, Position_Best_Rating 에 대해 rank 매기기 
df_player['rank_in_nation'] = df_player.groupby(['nationality_name','Model_Position', 'year'])['Position_Best_Rating'].rank(method='first',ascending=False)

In [ ]:
df_player = df_player.astype({'rank_in_nation':'int'})
df_player.head()

,short_name,overall,value_eur,wage_eur,age,height_cm,weight_kg,nationality_name,preferred_foot,weak_foot,...,defending_sliding_tackle,goalkeeping_diving,goalkeeping_handling,goalkeeping_kicking,goalkeeping_positioning,goalkeeping_reflexes,Position_Best_Rating,Model_Position,year,rank_in_nation
0,A. Meha,70,1600000,25000,28,174,76,Albania,Right,4,...,47,9,12,14,8,13,70,M,2014,3
1,E. Berisha,72,2500000,25000,25,194,92,Albania,Left,1,...,25,76,71,64,71,76,72,K,2014,1
2,E. Hysaj,67,500000,7000,20,182,70,Albania,Left,3,...,67,11,5,13,8,10,67,B,2014,3
3,E. Kace,69,825000,7000,20,161,58,Albania,Right,4,...,63,6,15,14,7,11,69,M,2014,4
4,J. Hyka,70,1800000,25000,26,169,62,Albania,Right,3,...,30,8,9,13,9,7,72,T,2014,2

In [ ]:
df_player = df_player.replace({"Korea Republic":"South Korea"})

In [ ]:
df_player.loc[df_player['nationality_name'].str.contains('Korea')] # 값이 같은 경우 rank

,short_name,overall,value_eur,wage_eur,age,height_cm,weight_kg,nationality_name,preferred_foot,weak_foot,...,defending_sliding_tackle,goalkeeping_diving,goalkeeping_handling,goalkeeping_kicking,goalkeeping_positioning,goalkeeping_reflexes,Position_Best_Rating,Model_Position,year,rank_in_nation
440,H. Son,76,4500000,70000,21,183,76,South Korea,Left,5,...,22,10,12,12,5,9,77,T,2014,2
441,Hong Chul,69,800000,15000,23,176,69,South Korea,Left,3,...,64,10,10,12,6,14,70,B,2014,3
442,Hong Jeong Ho,71,1500000,20000,24,186,77,South Korea,Right,4,...,68,5,8,13,10,9,71,B,2014,2
443,Ki Sung Yueng,74,3800000,35000,25,186,75,South Korea,Right,4,...,67,13,8,6,8,9,75,M,2014,2
444,Kim Do Heon,72,2200000,30000,31,177,73,South Korea,Right,4,...,57,7,12,12,13,14,72,M,2014,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7607,Jo Hyeon Woo,73,2000000,8000,30,189,75,South Korea,Right,3,...,16,73,70,62,70,78,73,K,2022,1
7608,Kim Min Jae,79,23000000,49000,25,190,81,South Korea,Right,3,...,77,13,7,11,14,11,77,M,2022,1
7609,Kim Tae Hwan,72,1600000,8000,32,177,72,South Korea,Right,3,...,68,12,10,16,9,11,72,B,2022,4
7610,Lee Jae Sung,76,7500000,28000,29,181,74,South Korea,Left,3,...,54,14,7,15,6,8,76,M,2022,3
7611,Lee Kang In,73,7000000,15000,21,173,68,South Korea,Left,3,...,28,11,12,12,8,14,75,M,2022,4

In [ ]:
df_player.loc[df_player['nationality_name'].str.contains('United')]

,short_name,overall,value_eur,wage_eur,age,height_cm,weight_kg,nationality_name,preferred_foot,weak_foot,...,defending_sliding_tackle,goalkeeping_diving,goalkeeping_handling,goalkeeping_kicking,goalkeeping_positioning,goalkeeping_reflexes,Position_Best_Rating,Model_Position,year,rank_in_nation
781,C. Dempsey,81,10000000,70000,31,185,84,United States,Right,4,...,47,12,7,5,10,12,81,T,2014,1
782,F. Johnson,74,3500000,45000,26,183,74,United States,Right,5,...,73,6,6,9,11,14,76,M,2014,3
783,G. Cameron,73,2200000,40000,28,191,84,United States,Right,3,...,71,6,15,5,9,13,73,B,2014,1
784,J. Jones,77,2800000,50000,32,184,78,United States,Right,4,...,77,11,7,5,10,5,77,M,2014,2
785,L. Donovan,79,5500000,100000,32,173,73,United States,Right,4,...,32,10,7,9,8,15,79,T,2014,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8025,S. Dest,77,22500000,71000,21,175,62,United States,Right,4,...,74,11,10,10,15,15,79,M,2022,2
8026,T. Adams,76,10000000,29000,23,175,72,United States,Right,3,...,70,6,13,12,8,7,77,M,2022,4
8027,W. McKennie,80,31500000,90000,23,183,84,United States,Right,3,...,75,7,9,12,9,11,81,T,2022,2
8028,W. Zimmerman,76,7000000,9000,29,191,89,United States,Right,3,...,68,13,14,8,10,9,77,B,2022,2
8029,Z. Steffen,77,9500000,73000,27,191,86,United States,Right,3,...,12,79,74,75,72,82,78,K,2022,1

In [ ]:
dataset.loc[dataset['away_team'].str.contains('United States')]

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,year,...,home_B2_value,home_B3_value,home_B4_value,home_M1_value,home_M2_value,home_M3_value,home_M4_value,home_T1_value,home_T2_value,home_K1_value
36219,2014-03-05,Ukraine,United States,2.0,0.0,Friendly,Larnaca,Cyprus,True,2014,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36437,2014-06-16,Ghana,United States,1.0,2.0,FIFA World Cup,Natal,Brazil,True,2014,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36485,2014-07-01,Belgium,United States,2.0,1.0,FIFA World Cup,Salvador,Brazil,True,2014,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36542,2014-09-03,Czech Republic,United States,0.0,1.0,Friendly,Prague,Czech Republic,False,2014,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36901,2014-11-18,Republic of Ireland,United States,4.0,1.0,Friendly,Dublin,Republic of Ireland,False,2014,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37043,2015-01-28,Chile,United States,3.0,2.0,Friendly,Rancagua,Chile,False,2015,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37081,2015-03-25,Denmark,United States,3.0,2.0,Friendly,Aarhus,Denmark,False,2015,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37183,2015-03-31,Switzerland,United States,1.0,1.0,Friendly,Zürich,Switzerland,False,2015,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37238,2015-06-05,Netherlands,United States,3.0,4.0,Friendly,Amsterdam,Netherlands,False,2015,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37275,2015-06-10,Germany,United States,1.0,2.0,Friendly,Cologne,Germany,False,2015,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38085,2016-03-25,Guatemala,United States,2.0,0.0,FIFA World Cup qualification,Guatemala,Guatemala,False,2016,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38203,2016-05-22,Puerto Rico,United States,1.0,3.0,Friendly,Bayamón,Puerto Rico,False,2016,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38652,2016-10-07,Cuba,United States,0.0,2.0,Friendly,Havana,Cuba,False,2016,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38848,2016-11-15,Costa Rica,United States,4.0,0.0,FIFA World Cup qualification,San José,Costa Rica,False,2016,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39085,2017-03-28,Panama,United States,1.0,1.0,FIFA World Cup qualification,Panama City,Panama,False,2017,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39242,2017-06-11,Mexico,United States,1.0,1.0,FIFA World Cup qualification,Mexico City,Mexico,False,2017,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39548,2017-09-05,Honduras,United States,1.0,1.0,FIFA World Cup qualification,San Pedro Sula,Honduras,False,2017,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39687,2017-10-10,Trinidad and Tobago,United States,2.0,1.0,FIFA World Cup qualification,Couva,Trinidad and Tobago,False,2017,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39776,2017-11-14,Portugal,United States,1.0,1.0,Friendly,Leiria,Portugal,False,2017,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40126,2018-06-02,Republic of Ireland,United States,2.0,1.0,Friendly,Dublin,Republic of Ireland,False,2018,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40218,2018-06-09,France,United States,1.0,1.0,Friendly,Lyon,France,False,2018,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40616,2018-11-15,England,United States,3.0,0.0,Friendly,London,England,False,2018,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40719,2018-11-20,Italy,United States,1.0,0.0,Friendly,Genk,Belgium,True,2018,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41683,2019-10-15,Canada,United States,2.0,0.0,CONCACAF Nations League,Toronto,Canada,False,2019,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41882,2019-11-19,Cuba,United States,0.0,4.0,CONCACAF Nations League,George Town,Cayman Islands,True,2019,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42149,2020-11-12,Wales,United States,0.0,0.0,Friendly,Cardiff,Wales,False,2020,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42339,2021-03-28,Northern Ireland,United States,1.0,2.0,Friendly,Belfast,Northern Ireland,False,2021,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42442,2021-05-30,Switzerland,United States,2.0,1.0,Friendly,St. Gallen,Switzerland,False,2021,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42851,2021-09-02,El Salvador,United States,0.0,0.0,FIFA World Cup qualification,San Salvador,El Salvador,False,2021,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42962,2021-09-08,Honduras,United States,1.0,4.0,FIFA World Cup qualification,San Pedro Sula,Honduras,False,2021,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43051,2021-10-10,Panama,United States,1.0,0.0,FIFA World Cup qualification,Panama City,Panama,False,2021,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43260,2021-11-16,Jamaica,United States,1.0,1.0,FIFA World Cup qualification,Kingston,Jamaica,False,2021,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43405,2022-01-30,Canada,United States,2.0,0.0,FIFA World Cup qualification,Hamilton,Canada,False,2022,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43453,2022-03-24,Mexico,United States,0.0,0.0,FIFA World Cup qualification,Mexico City,Mexico,False,2022,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43600,2022-03-30,Costa Rica,United States,2.0,0.0,FIFA World Cup qualification,San José,Costa Rica,False,2022,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43895,2022-06-14,El Salvador,United States,1.0,1.0,CONCACAF Nations League,San Salvador,El Salvador,False,2022,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43944,2022-09-23,Japan,United States,2.0,0.0,Kirin Challenge Cup,Düsseldorf,Germany,True,2022,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44045,2022-09-27,Saudi Arabia,United States,0.0,0.0,Friendly,Murcia,Spain,True,2022,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
for index in dataset.index:
  team1 = dataset.loc[index, ['home_team']]
  team2 = dataset.loc[index, ['away_team']]
  
  year = dataset.loc[index, ['year']]
  year = int(year)
  team1 = team1[0]
  team2 = team2[0]
  # position B (수비수) 4명 
  for i in range(1, 5):
    col1 = 'home_B'+str(i)+'_point'
    col2 = 'home_B'+str(i)+'_value'
    col3 = 'away_B'+str(i)+'_point'
    col4 = 'away_B'+str(i)+'_value'
    try:
      data = df_player['Position_Best_Rating'].loc[(df_player['rank_in_nation'] == i) & (df_player['Model_Position'] == 'B') & (df_player['nationality_name'] == team1 ) & (df_player['year'] == year)]
      dataset.loc[index, [col1]] = float(data)
      data2 = df_player['value_eur'].loc[(df_player['rank_in_nation'] == i) & (df_player['Model_Position'] == 'B') & (df_player['nationality_name'] == team1) & (df_player['year'] == year)]
      dataset.loc[index, [col2]] = float(data2)
      data3 = df_player['Position_Best_Rating'].loc[(df_player['rank_in_nation'] == i) & (df_player['Model_Position'] == 'B') & (df_player['nationality_name'] == team2 ) & (df_player['year'] == year)]
      dataset.loc[index, [col3]] = float(data3)
      data4 = df_player['value_eur'].loc[(df_player['rank_in_nation'] == i) & (df_player['Model_Position'] == 'B') & (df_player['nationality_name'] == team2) & (df_player['year'] == year)]
      dataset.loc[index, [col4]] = float(data4)
    except:
      continue

  # position M (미드필더) 4명 
  for i in range(1, 5):
    col1 = 'home_M'+str(i)+'_point'
    col2 = 'home_M'+str(i)+'_value'
    col3 = 'away_M'+str(i)+'_point'
    col4 = 'away_M'+str(i)+'_value'
    try:
      data = df_player['Position_Best_Rating'].loc[(df_player['rank_in_nation'] == i) & (df_player['Model_Position'] == 'M') & (df_player['nationality_name'] == team1 ) & (df_player['year'] == year)]
      dataset.loc[index, [col1]] = float(data)

      data2 = df_player['value_eur'].loc[(df_player['rank_in_nation'] == i) & (df_player['Model_Position'] == 'M') & (df_player['nationality_name'] == team1) & (df_player['year'] == year)]
      dataset.loc[index, [col2]] = float(data2)

      data3 = df_player['Position_Best_Rating'].loc[(df_player['rank_in_nation'] == i) & (df_player['Model_Position'] == 'M') & (df_player['nationality_name'] == team2 ) & (df_player['year'] == year)]
      dataset.loc[index, [col3]] = float(data3)

      data4 = df_player['value_eur'].loc[(df_player['rank_in_nation'] == i) & (df_player['Model_Position'] == 'M') & (df_player['nationality_name'] == team2) & (df_player['year'] == year)]
      dataset.loc[index, [col4]] = float(data4)
    except:
      continue
  # position (공격수) 2명 -> T
  for i in range(1, 3):
    col1 = 'home_T'+str(i)+'_point'
    col2 = 'home_T'+str(i)+'_value'
    col3 = 'away_T'+str(i)+'_point'
    col4 = 'away_T'+str(i)+'_value'
    try:
      data = df_player['Position_Best_Rating'].loc[(df_player['rank_in_nation'] == i) & (df_player['Model_Position'] == 'T') & (df_player['nationality_name'] == team1 ) & (df_player['year'] == year)]
      dataset.loc[index, [col1]] = float(data)

      data2 = df_player['value_eur'].loc[(df_player['rank_in_nation'] == i) & (df_player['Model_Position'] == 'T') & (df_player['nationality_name'] == team1) & (df_player['year'] == year)]
      dataset.loc[index, [col2]] = float(data2)

      data3 = df_player['Position_Best_Rating'].loc[(df_player['rank_in_nation'] == i) & (df_player['Model_Position'] == 'T') & (df_player['nationality_name'] == team2 ) & (df_player['year'] == year)]
      dataset.loc[index, [col3]] = float(data3)

      data4 = df_player['value_eur'].loc[(df_player['rank_in_nation'] == i) & (df_player['Model_Position'] == 'T') & (df_player['nationality_name'] == team2) & (df_player['year'] == year)]
      dataset.loc[index, [col4]] = float(data4)
    except:
      continue

  # # 골키퍼 
  col1 = 'home_K1_point'
  col2 = 'home_K1_value'
  col3 = 'away_K1_point'
  col4 = 'away_K1_value'
  try:
    data = df_player['Position_Best_Rating'].loc[(df_player['rank_in_nation'] == 1) & (df_player['Model_Position'] == 'K') & (df_player['nationality_name'] == team1 ) & (df_player['year'] == year)]
    dataset.loc[index, [col1]] = float(data)
    data2 = df_player['value_eur'].loc[(df_player['rank_in_nation'] == 1) & (df_player['Model_Position'] == 'K') & (df_player['nationality_name'] == team1) & (df_player['year'] == year)]
    dataset.loc[index, [col2]] = float(data2)
    data3 = df_player['Position_Best_Rating'].loc[(df_player['rank_in_nation'] == 1) & (df_player['Model_Position'] == 'K') & (df_player['nationality_name'] == team2 ) & (df_player['year'] == year)]
    dataset.loc[index, [col3]] = float(data3)
    data4 =df_player['value_eur'].loc[(df_player['rank_in_nation'] == 1) & (df_player['Model_Position'] == 'K') & (df_player['nationality_name'] == team2) & (df_player['year'] == year)]
    dataset.loc[index, [col4]] = float(data4)
  except:
    continue

/usr/local/lib/python3.8/dist-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [ ]:

for index in dataset.index:
  team1 = dataset.loc[index, ['home_team']]
  team2 = dataset.loc[index, ['away_team']]
  
  year = dataset.loc[index, ['year']]
  year = int(year)
  team1 = team1[0]
  team2 = team2[0]
  # position B (수비수) 4명 
  for i in range(1, 5):
    col1 = 'home_B'+str(i)+'_point'
    col2 = 'home_B'+str(i)+'_value'
    col3 = 'away_B'+str(i)+'_point'
    col4 = 'away_B'+str(i)+'_value'
    try:
      # data1 = df_rankings['total_points'].loc[(df_rankings['country_full'] == team1) & (df_rankings['year'] == year)]
      data = df_player['Position_Best_Rating'].loc[(df_player['rank_in_nation'] == i) & (df_player['Model_Position'] == 'B') & (df_player['nationality_name'] == team1 ) & (df_player['year'] == year)]
      dataset.loc[index, [col1]] = float(data)
    except:
      continue
    try:
      data2 = df_player['value_eur'].loc[(df_player['rank_in_nation'] == i) & (df_player['Model_Position'] == 'B') & (df_player['nationality_name'] == team1) & (df_player['year'] == year)]
      dataset.loc[index, [col2]] = float(data2)
    except:
      continue
    try:
      data3 = df_player['Position_Best_Rating'].loc[(df_player['rank_in_nation'] == i) & (df_player['Model_Position'] == 'B') & (df_player['nationality_name'] == team2 ) & (df_player['year'] == year)]
      #df_player['Position_Best_Rating'].loc[df_player['rank_in_nation'] == i].loc[df_player['Model_Position'] == 'B'].loc[df_player['nationality_name'] == team2].loc[df_player['year'] == year]
      dataset.loc[index, [col3]] = float(data3)
    except:
      continue
    try:
      data4 = df_player['value_eur'].loc[(df_player['rank_in_nation'] == i) & (df_player['Model_Position'] == 'B') & (df_player['nationality_name'] == team2) & (df_player['year'] == year)]
      
      
      #df_player['value_eur'].loc[df_player['rank_in_nation'] == i].loc[df_player['Model_Position'] == 'B'].loc[df_player['nationality_name'] == team2].loc[df_player['year'] == year]
      dataset.loc[index, [col4]] = float(data4)
    except:
      continue

    
  # position M (미드필더) 4명 
  for i in range(1, 5):
    col1 = 'home_M'+str(i)+'_point'
    col2 = 'home_M'+str(i)+'_value'
    col3 = 'away_M'+str(i)+'_point'
    col4 = 'away_M'+str(i)+'_value'
    try:
      data = df_player['Position_Best_Rating'].loc[(df_player['rank_in_nation'] == i) & (df_player['Model_Position'] == 'M') & (df_player['nationality_name'] == team1 ) & (df_player['year'] == year)]
      #df_player['Position_Best_Rating'].loc[df_player['rank_in_nation'] == i].loc[df_player['Model_Position'] == 'M'].loc[df_player['nationality_name'] == team1].loc[df_player['year'] == year]
      dataset.loc[index, [col1]] = float(data)
    except:
      continue
    try:
      
      data2 = df_player['value_eur'].loc[(df_player['rank_in_nation'] == i) & (df_player['Model_Position'] == 'M') & (df_player['nationality_name'] == team1) & (df_player['year'] == year)]
      #df_player['value_eur'].loc[df_player['rank_in_nation'] == i].loc[df_player['Model_Position'] == 'M'].loc[df_player['nationality_name'] == team1].loc[df_player['year'] == year]
      dataset.loc[index, [col2]] = float(data2)
    except:
      continue
    try:
      data3 = df_player['Position_Best_Rating'].loc[(df_player['rank_in_nation'] == i) & (df_player['Model_Position'] == 'M') & (df_player['nationality_name'] == team2 ) & (df_player['year'] == year)]
      #df_player['Position_Best_Rating'].loc[df_player['rank_in_nation'] == i].loc[df_player['Model_Position'] == 'M'].loc[df_player['nationality_name'] == team2].loc[df_player['year'] == year]
      dataset.loc[index, [col3]] = float(data3)
    except:
      continue
    try:
      data4 = df_player['value_eur'].loc[(df_player['rank_in_nation'] == i) & (df_player['Model_Position'] == 'M') & (df_player['nationality_name'] == team2) & (df_player['year'] == year)]
      #df_player['value_eur'].loc[df_player['rank_in_nation'] == i].loc[df_player['Model_Position'] == 'M'].loc[df_player['nationality_name'] == team2].loc[df_player['year'] == year]
      dataset.loc[index, [col4]] = float(data4)
    except:
      continue
  # position (공격수) 2명 -> T
  for i in range(1, 3):
    col1 = 'home_T'+str(i)+'_point'
    col2 = 'home_T'+str(i)+'_value'
    col3 = 'away_T'+str(i)+'_point'
    col4 = 'away_T'+str(i)+'_value'
    try:
      data = df_player['Position_Best_Rating'].loc[(df_player['rank_in_nation'] == i) & (df_player['Model_Position'] == 'T') & (df_player['nationality_name'] == team1 ) & (df_player['year'] == year)]
      #df_player['Position_Best_Rating'].loc[df_player['rank_in_nation'] == i].loc[df_player['Model_Position'] == 'T'].loc[df_player['nationality_name'] == team1].loc[df_player['year'] == year]
      dataset.loc[index, [col1]] = float(data)
    except:
      continue
    try:
      data2 = df_player['value_eur'].loc[(df_player['rank_in_nation'] == i) & (df_player['Model_Position'] == 'T') & (df_player['nationality_name'] == team1) & (df_player['year'] == year)]
      #df_player['value_eur'].loc[df_player['rank_in_nation'] == i].loc[df_player['Model_Position'] == 'T'].loc[df_player['nationality_name'] == team1].loc[df_player['year'] == year]
      dataset.loc[index, [col2]] = float(data2)
    except:
      continue
    try:
      data3 = df_player['Position_Best_Rating'].loc[(df_player['rank_in_nation'] == i) & (df_player['Model_Position'] == 'T') & (df_player['nationality_name'] == team2 ) & (df_player['year'] == year)]
      #df_player['Position_Best_Rating'].loc[df_player['rank_in_nation'] == i].loc[df_player['Model_Position'] == 'T'].loc[df_player['nationality_name'] == team2].loc[df_player['year'] == year]
      dataset.loc[index, [col3]] = float(data3)
    except:
      continue
    try:
      data4 = df_player['value_eur'].loc[(df_player['rank_in_nation'] == i) & (df_player['Model_Position'] == 'T') & (df_player['nationality_name'] == team2) & (df_player['year'] == year)]
      #df_player['value_eur'].loc[df_player['rank_in_nation'] == i].loc[df_player['Model_Position'] == 'T'].loc[df_player['nationality_name'] == team2].loc[df_player['year'] == year]
      dataset.loc[index, [col4]] = float(data4)
    except:
      continue

  # # 골키퍼 
  col1 = 'home_K1_point'
  col2 = 'home_K1_value'
  col3 = 'away_K1_point'
  col4 = 'away_K1_value'
  try:
    data = df_player['Position_Best_Rating'].loc[(df_player['rank_in_nation'] == 1) & (df_player['Model_Position'] == 'K') & (df_player['nationality_name'] == team1 ) & (df_player['year'] == year)]
    dataset.loc[index, [col1]] = float(data)
  except:
    continue
  try:
    data2 = df_player['value_eur'].loc[(df_player['rank_in_nation'] == 1) & (df_player['Model_Position'] == 'K') & (df_player['nationality_name'] == team1) & (df_player['year'] == year)]
    dataset.loc[index, [col2]] = float(data2)
  except:
    continue
  try:
    data3 = df_player['Position_Best_Rating'].loc[(df_player['rank_in_nation'] == 1) & (df_player['Model_Position'] == 'K') & (df_player['nationality_name'] == team2 ) & (df_player['year'] == year)]
    dataset.loc[index, [col3]] = float(data3)
  except:
    continue
  try:
    data4 =df_player['value_eur'].loc[(df_player['rank_in_nation'] == 1) & (df_player['Model_Position'] == 'K') & (df_player['nationality_name'] == team2) & (df_player['year'] == year)]
    dataset.loc[index, [col4]] = float(data4)
  except:
    continue

/usr/local/lib/python3.8/dist-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [ ]:
dataset = dataset.drop(['date', 'country', 'city'], axis=1)

In [ ]:
dataset.isnull().sum()

home_team                    0
away_team                    0
home_score                   0
away_score                   0
tournament                   0
neutral                      0
year                         0
home_team_total_points       0
away_team_total_points       0
home_B1_point             3188
home_B2_point             3188
home_B3_point             3188
home_B4_point             3188
home_M1_point             3188
home_M2_point             3188
home_M3_point             3188
home_M4_point             3188
home_T1_point             3188
home_T2_point             3188
home_K1_point             3188
away_B1_point             4329
away_B2_point             4329
away_B3_point             4329
away_B4_point             4329
away_M1_point             4329
away_M2_point             4329
away_M3_point             4329
away_M4_point             4329
away_T1_point             4329
away_T2_point             4329
away_K1_point             4329
home_B1_value             3188
home_B2_value             3188
home_B3_value             3188
home_B4_value             3188
home_M1_value             3188
home_M2_value             3188
home_M3_value             3188
home_M4_value             3188
home_T1_value             3188
home_T2_value             3188
home_K1_value             3188
away_B1_value             4329
away_B2_value             4329
away_B3_value             4329
away_B4_value             4329
away_M1_value             4329
away_M2_value             4329
away_M3_value             4329
away_M4_value             4329
away_T1_value             4329
away_T2_value             4329
away_K1_value             4329
dtype: int64

In [ ]:
new_dataset = dataset.iloc[:,0:34] # value 뺐을 떄 
#new_dataset = new_dataset.dropna(axis=0)

In [ ]:
new_dataset = new_dataset.dropna(axis=0)

In [ ]:
new_dataset.shape[0]

2548

In [ ]:
new_dataset.to_csv('fifa_dataset_without_value.csv') # 최종 dataset 출력

In [ ]:
new_dataset.isnull().sum()

home_team                 0
away_team                 0
home_score                0
away_score                0
tournament                0
neutral                   0
year                      0
home_team_total_points    0
away_team_total_points    0
home_B1_point             0
home_B2_point             0
home_B3_point             0
home_B4_point             0
home_M1_point             0
home_M2_point             0
home_M3_point             0
home_M4_point             0
home_T1_point             0
home_T2_point             0
home_K1_point             0
home_B1_value             0
home_B2_value             0
home_B3_value             0
home_B4_value             0
home_M1_value             0
home_M2_value             0
home_M3_value             0
home_M4_value             0
home_T1_value             0
home_T2_value             0
home_K1_value             0
away_B1_value             0
away_B2_value             0
away_B3_value             0
dtype: int64

In [ ]:
dataset_copy = dataset
dataset_copy = dataset_copy.dropna(axis=0)

In [ ]:
dataset_copy.shape[0]

2548

In [ ]:
dataset_copy.to_csv('fifa_dataset.csv') # 최종 dataset 출력 (value 결측값 뺀 것)